<!--- password fields --->
    <div class="field">
      <%= f.label 'Contraseña' %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label 'Confirmar contraseña' %>
      <%= f.password_field :password_confirmation %>
    </div>
