<h1>Modificar informacion del producto</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', no_compra_ventas_producto_path(@venta, @ventas_producto), class: 'btn btn-large'  %> |
<%= link_to 'Back', no_compra_ventas_productos_path(@venta), class: 'btn btn-large' %>
